  <link href="{{ data.site_url }}mod/legislation/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">
<p>
<div class="share-divider"></div>
<h2 class="share-title">Share</h2>
<br>
<i class="fa fa-facebook-square"></i>
<i class="fa fa-twitter-square"></i>
<i class="fa fa-whatsapp"></i>
</p>